  <div>
    <a href="/">Your todo list</a>
    " | "
    <a href="/edit_user_profile">Edit profile</a>
     " | "
    <a href="/user_sign_out">Sign out</a>
  </div>

<h1>Delivery Tracker</h1>

<p>Know if something gets lost in the mail.</p>

<hr>

<div>
  <div>
    <h2>
      Expecting a package?
    </h2>

    <form action="/insert_delivery" method="post">
      <div>
        <label for="description_box">Description</label>
        <input type="text" name="description" id="description_box">
      </div>

      <div>
        <label for="supposed_to_arrive_on_box">Supposed to arrive on</label>
        <input type="date" id="supposed_to_arrive_on_box" name="supposed_to_arrive_at">
      </div>

      <div>
        <label for="details_box">Details</label>
        <textarea id="details_box" name="query_details" rows="3"></textarea>
      </div>

      <button>Log delivery</button>
    </form>
  </div>
</div>

<div class="waiting_on">
  <h2>Waiting on</h2>

  <ul>
    <% @waiting_on.each do |delivery| %>
      <li>
        <p><%= delivery.id %></p>
        <p><%= delivery.description %></p>
        <p><%= delivery.details %></p>
        <% if delivery.supposed_to_arrive_at < 3.days.ago.to_date %>
         <div style="color: red">
            <p>Supposed to arrive on <%= delivery.supposed_to_arrive_at %></p>
          </div>
        <% else %>
          <div style="color: black">
            <p>Supposed to arrive on <%= delivery.supposed_to_arrive_at %></p>
          </div>
        <% end %>

        <form action="/modify_delivery/<%= delivery.id %>" method="post">
          <input type="hidden" name="arrived" value="true">
          <button>Mark as received</button>
        </form>
      <% end %>
      </li>
  </ul>
    <br>
</div>

<div class="received">
  <h2>Received</h2>
  <ul>
  <li>
    <% @received.each do |delivery| %>
      <div>
        <%= delivery.description %>
        <small>
        <p>Updated <%= delivery.updated_at %></p>
        <a href="/delete_delivery/<%= delivery.id %>">"Delete"</a>
        </small>
      </div>
  </li>
  </ul>
      <br>
    <% end %>
</div>
